body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('https://i.imgur.com/oQndYnh.png'); /* Background image */
  background-size: cover; /* Make the background image cover the whole area */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  color: #000; /* Black text